.circle {
    left: 0;
    width: 15px;
    height: 15px;  
    background-color: #555;
    border-radius: 100%;
    margin-right: 15px;
}
.circle:hover {
    background-color: #777;
}
.circle:active {
    background-color: white;
}
.crewContainer {
    display: flex;
}

.crewText {
    margin-right: 20px;
    margin-left: 10vw;
    margin-top: 30vh;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.crewTitle {
    color: gray;
}
.crewName {
    margin-top: 25px;
    max-height: 64px;
    white-space: nowrap;
    text-overflow: clip;
}
.crewDesc {
    margin-top: 15px;
    margin-right: 10vw;
    min-height: 20vh;
    max-height: 20vh;
    text-overflow: clip;
}
.crewButtons {
    margin-top: 45px;
    display: flex;
}

.crewImage {
    flex: 1;
    z-index: 999;
}
.crewImgSrc {
    position: fixed;
    display: block;
    margin-left:auto;
    margin-right: auto;
    max-height: 700px;
    bottom: 0;
   
}

@media only screen and (max-width: 1024px) {
    .crewName {
        margin-left: -5%;
        margin-right: -5%;
        font-size: 48px;
    }
    .crewContainer {
        flex-direction: column;
    }
    .crewText {
        margin-top: 15vh;
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
    }
    .crewDesc {
        margin-right: 25px;
        margin-left: 25px;
        min-height: 12vh;
        max-height: 100px;
        max-width: 100%;
    }
    .crewButtons {
        margin-top: 25px;
        justify-content: center;
    }
    .circle {
        margin-right: 10px;
        margin-left: 10px;
    }
    .crewImage {
        margin-top: 25px;
        min-height: 50vh;
        position: relative;
        border-bottom: solid 1px #555;
    }
    .crewImgSrc {
        position: absolute;
        max-height: 50vh;
        max-width: 100vw;
        right: 0;
        left: 0;
        bottom: 0;
    }
}

@media only screen and (max-width: 480px) {
    .crewButtons {
        order: 1;
    }
    .crewTitle {
        margin-top: 25px;
        order: 2;
        font-size: 26px;
    }
    .crewName {
        order: 3;
        font-size: 30px;
    }
    .crewDesc {
        order: 4;
        font-size: 12px;
    }
    .crewImage {
        min-height: auto;
        margin-top: 80px;
        order: 1;
    }
    .crewImgSrc {
        position: relative;
        max-height: 300px;
    }
    .crewText {
        margin: 25px;
        order: 2;
    }

}


