.discoverContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70vw;
  height: 87vh;
  margin: auto;
  overflow-y: hidden;
}
.discoverText {
  margin-top: 15vh;
  text-align: center;
}
.discoverIcon {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}
.discoverChevUpSrc {
  width: 50px;
  height: 50px;
  filter: brightness(0) invert(1);
  transform: rotate(180deg);
}
.discoverChevDownSrc {
  width: 50px;
  height: 50px;
  filter: brightness(0) invert(1);
  cursor: pointer;
}
.discoverSearch {
  background: rgba(255, 255, 255, 0.05); /*  5% opaque white */
  backdrop-filter: blur(50px);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.discoverInputContainer {
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.05); /*  5% opaque white */
  backdrop-filter: blur(50px);
  padding: 20px;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
}
.discoverLabel {
  color: white !important;
}
.discoverSearchInput {
  margin-right: 25px;
  flex: 1;
}
.discoverTextBox {
  display: table-cell;
  width: 100%;
  border-radius: 4px;
  padding: 3px;
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.discoveryButtonContainer {
  display: flex;
  flex: 1;
}
.discoverApplyButton {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 20px;
  border: 1px solid #777;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}
.discoverApplyButton:hover {
  background-color: #777;
}
.discoverResults {
  background: rgba(255, 255, 255, 0.05); /*  5% opaque white */
  backdrop-filter: blur(50px);
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  margin-top: 20px;
}
.launchText {
  display: flex;
}
.rocketName,
.rocketType,
.flightNumber {
  color: white;
}
.flightNumberContainer {
  text-align: center;
  flex: 1;
  margin-left: 20px;
}
.launchHeader {
  display:flex;
  flex: 7;
}
.launchButtonContainer {
  flex-wrap: wrap;
  margin-top: 15px;
  display: flex;
}
.launchButton {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid #777;
  border-radius: 8px;
  cursor: pointer;
}
.launchButton:hover {
  background-color: #777;
}
.launchIconContainerMob {
  display: none;
}
.launchIconSrc {
  max-width: 50px;
  max-height: 50px;
}
.launchIconContainer {
  margin-right: 20px;
}
.discoverTextBox {
  background: transparent;
  border: 1px solid #d0d6f9;
  border-radius: 4px;
  color: white;
  font-family: "Barlow Condensed";

  letter-spacing: 2.35px;
}
.backToTopContainer {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: underline;
}
.noOfMissionsContainer {
  margin-top: 20px;
  text-align: center;
}
.launchSuccess {
  font-size: 16px;
  color: red;
}
.rocketText {
  overflow: hidden;
  text-overflow: ellipsis; 
}
@media only screen and (max-width: 1024px) {
  .discoverInputContainer, .discoverResults {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .discoverText {
    font-size: 32px;
  }
  .rocketName, .rocketType {
    font-size: 26px;
  }
  .launchSuccess{
    font-size: 16px;
  }
  .flightNumber {
    font-size: 22px;
  }
  .discoverInputContainer {
    flex-direction: column;
  }
  .discoverSearchInput {
    margin: 0;

  }
  .discoverResults, .discoverInputContainer {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
  }
  .discoverResults {
    padding: 20px;
  }
  .rocketDateLabel, .discoverLabel, .launchButton {
    font-size: 14px;
  }
  .launchButton{
    margin-top: 5px;
    margin-right: 5px;
  }
  .launchText {
    flex-direction: column;
  }
  .launchIconContainer {
    display: none;
  }
  .flightNumberContainer {
    text-align: left;
    margin-left: 0px;
    margin-top: 20px;
  }
  .noOfMissionsContainer {
    margin-top: 10px;
  }
  .rocketTextContainer{
    display: flex;
  }
  .launchIconContainerMob {
    display: block;
    margin-right: 20px;
  }
}
